@charset "utf-8";

/* 基礎のスタイル */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700;900&display=swap&subset=japanese');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    /* font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Yu Gothic", "Noto Sans JP", Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: "Noto Sans JP", "メイリオ","Meiryo","ＭＳ Ｐゴシック","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","Helvetica Neue","Helvetica","Arial",sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

* a {
    text-decoration: none !important;
    color: unset;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 1.0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}